# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

http://www.codeproject.com/Articles/8313/CCustomBitmapButton-MFC-Bitmap-Button
http://www.codeproject.com/Articles/18559/Vista-themed-Owner-Drawn-and-Full-Custom-Push-Menu
http://www.codeproject.com/Articles/3873/Image-Button-Control
